@media (min-width: 768px){
    .side-nav{
        position: fixed;
        top: 51px;
        bottom: 0;
        width: 255px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #222222;
        padding-bottom: 40px;
        border-radius: 0;
    }
    .side-nav>li>a{
        width: 255px;
    }
    .side-nav>li>a:hover, .side-nav>li>a:focus{
        outline: none;
        background-color: #000000 !important;
    }
}

.side-nav>li>ul{
    padding: 0;
}

.side-nav>li>ul>li>a{
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999999;
    display: block;
}

.side-nav>li>ul>li>a:hover{
    color: #ffffff;
}